/* Home.css */

.container {
  text-align: center;
  padding: 2rem;
}

.app-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.search-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 10px 0 0 10px;
  outline: none;
}

.search-button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

.location-button {
  padding: 0.5rem 1rem;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.location-button:hover {
  background-color: #1d7b36;
}

.weather-details {
  margin-top: 2rem;
}

.temperature {
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

.weather-description {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.location,
.time {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.error-message {
  font-size: 1.5rem;
  color: #dc3545;
}
.feels-like {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}